.card {
  width: 100%;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  line-height: 1.2;
  max-width: 353px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
}

.card__like-btn {
  opacity: 40%;
  background-image: url(../images/Like-Icon.svg);
  cursor: pointer;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 630px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }
}
