.cards__list {
  padding: 20px 0 40px;
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
    padding-bottom: 20px;
  }
}
