.card {
  max-width: 413px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  background-image: url(../images/trash.svg);
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url("../images/trash-hover.svg");
}

.card__content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 352px;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/Like-Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  transition: opacity 0.15s ease;
  opacity: 0.4;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/heart.svg);
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }
}
