.footer {
    display: flex;
    background-color: #FCF5E5;
    align-items: center;
    margin: 20px auto auto;
    padding-bottom: 20px;
    background-size: cover;

}

.footer__copyright{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #6f6f6f;
    max-width: 1280px;
    margin: 0 auto;
}
