.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding: 0 10px;
}
.modal_type_preview {
  padding: 0 16px;
}
.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  padding: 32px 50px 32px;
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 58px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent url(../images/Group-27.svg) center no-repeat;
  background-size: 35px 35px;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.4;
  padding: 0;
  margin: 0;
}

.modal__close-btn_type_preview {
  top: 0px;
  right: -52.5px;
  background-image: url(../images/perveiw-x.svg);
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121b2;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  line-height: 1;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.modal__input_state_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  color: #ff0000b2;
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-top: 8px;
  margin-bottom: 0;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  opacity: 0.7;
  border: none;
  border-radius: 8px;
  opacity: 1;
}
.modal__submit-btn:hover {
  opacity: 0.7;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn-disable {
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}
@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__image {
    max-width: unset;
  }
}
