.profile {
  display: flex;
  flex-direction: row;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  border-radius: 8px;
  margin-right: 20px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 12px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  font-weight: 500;
}

.profile__edit-btn {
  padding: 0;
  line-height: 1;
  margin-top: auto;
  opacity: 70%;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  font-size: 16px;
  line-height: 1;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-top: auto;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  padding: 32px 18px;
  width: 149px;
  height: 52px;
  gap: 8px;
  border-radius: 8px;
  z-index: 10;
}

.profile__add-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    min-height: 52px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 auto;
    margin-bottom: 12px;
    height: 80px;
    width: 80px;
  }

  .profile__add-btn {
    margin: 0 auto;
    width: 100%;
  }

  .profile__column {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .profile__name {
    text-align: center;
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    text-align: center;
    margin: 0 0 32px;
  }
}
